<html>
    <head>
        <title>
            THE LOGIN WEB PAGE

        </title>
        <link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }} "/>
    </head>
    <body>

        <form>
            <label for="Login"> Login</label><br>
            <input type="text" id="Login" name="Login"><br>
            <label for="Pass">Password</label><br>
            <input type="text" id="Pass" name="Pass"><br>
            <input type="SUBMIT" value ="SUBMIT" name="Login"/>
            <button>REGISTER NOW</button>
        </form>
    </body>
</html>